<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_image %>
    <%= form.text_field :first_image %>
  </div>

  <div class="field">
    <%= form.label :last_image %>
    <%= form.text_field :last_image %>
  </div>

  <div class="field">
    <%= form.label :montage_image %>
    <%= form.text_field :montage_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
