<div id="wrapper">

  <h1>Generate a montage</h1>

  <button class="generate-images-montage">
    montage call-to-action
  </button>

  <div id="footer-javascripts">
    <script type="text/javascript">
      var button = document.querySelector("button.generate-images-montage");
      button.addEventListener("click", function() {
        window.location = "<%= products_montage_url %>"
      });
    </script>
  </div>

</div>
