<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="table-responsive">
  <table class='table table-bordered table-striped'>
    <thead>
        <th>ID</th>
        <th>First image</th>
        <th>Last image</th>
        <th>Montage image</th>
    </thead>
    <tbody style="font-size: 12px; white-space: nowrap">
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.first_image %></td>
          <td><%= product.last_image %></td>
          <td><%= product.montage_image %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= form_tag upload_products_path, multipart: true, class: 'form-inline' do %>
  <div class="form-group pull-right">
    <%= link_to "Export", products_path(format: "csv"), class: 'btn btn-primary' %>
  </div>

  <div class="form-group">
    <%= submit_tag "Upload", class: 'btn btn-info' %>
    <br>
    <%= file_field_tag :file, class: '' %>
  </div>
<% end %>

<%= link_to 'Background Processing Dashboard', sidekiq_web_path, class: 'btn btn-warning pull-right', target: :_blank %>

