<p id="notice"><%= notice %></p>

<p>
  <strong>First image:</strong>
  <%= @product.first_image %>
</p>

<p>
  <strong>Last image:</strong>
  <%= @product.last_image %>
</p>

<p>
  <strong>Montage image:</strong>
  <%= @product.montage_image %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
