<!DOCTYPE html>
<html>
  <head>
    <title>PhotoMontageTool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main role='main'>
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
      <% end %>
      <div class='container'>
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
